.title {
  font-size: 18px;
  font-weight: bold;
  color: #3b3b3b;
}

.notification {
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 10px;
  border: 1px solid #4b3d503c;
  margin-bottom: 10px;
  border-radius: 5px;
}
